.card {
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .list-group-item {
    border: none;
    padding: 0.75rem 1.25rem;
  }
  
  .font-weight-bold {
    font-weight: 600;
  }
  
  .badge {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }
  
  .details-card{ 
    height: 250px;
    overflow: scroll;
  }