.form-group {
    margin-bottom: 1rem;
  }
  
  .invalid-feedback {
    display: block;
    color: red;
  }
  .is-invalid {
    border-color: #dc3545;
  }
  .text-danger {
    font-size: 0.875em;
    margin-top: 0.25em;
  }
  
  button[type="submit"] {
    width: 100%;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  