<div class="d-flex flex-column p-3 pe-5 bg-light" style="width: fit-content">
  <a
    [routerLink]="['']"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
  >
    <i class="fa-solid fa-hospital"></i>
    <span class="fs-4">Hospital</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="dashboard" class="nav-link" routerLinkActive="active">
        <i class="fa-solid fa-chart-pie"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/patients']"
        routerLinkActive="active"
        class="nav-link"
      >
        <i class="fa-solid fa-users"></i>
        Patients
      </a>
    </li>

    <li class="nav-item">
      <a
        [routerLink]="['/appointment']"
        routerLinkActive="active"
        class="nav-link"
      >
        <i class="fa-solid fa-calendar-check"></i>
        Appointments
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/doctor']" routerLinkActive="active" class="nav-link">
        <i class="fa-solid fa-user-md"></i>
        Doctors
      </a>
    </li>

    <li class="nav-item">
      <a
        [routerLink]="['/department']"
        routerLinkActive="active"
        class="nav-link"
      >
        <i class="fa-solid fa-building"></i>
        <!-- Icon for Department -->
        Department
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/blog-management']"
        routerLinkActive="active"
      >
        <i class="fa-solid fa-users"></i>
        <!-- Icon for Blogs -->
        Blogs
      </a>
    </li>
    <!-- <li class="nav-item">
      <a routerLink="earnings" class="nav-link" routerLinkActive="active">
        <i class="fa-solid fa-money-bill-wave"></i> 
        Earnings
      </a>
    </li> -->

    <hr />

    <li class="nav-item">
      <a [routerLink]="['/login']" class="nav-link">
        <i class="fa-solid fa-right-to-bracket"></i>
        <!-- Icon for Login -->
        Login
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fa-solid fa-right-from-bracket"></i>
        <!-- Icon for Logout -->
        Logout
      </a>
    </li>
  </ul>
</div>
