.active-r{ 
    background-color: #232f66;
}

.n-bar{ 
    display: flex;
    flex-direction: row;
}

.n-icon{ 
    display: none;
}
@media only screen and (max-width: 1000px) {
    .hder{ 
        display: none;
    }
    hr{ 
        display: none;
    }
}