<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
<table class="table table-striped">


  <thead>
    <tr>
      <th>#</th>
      <th>Patient Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Admitted Date</th>
      <th>Type</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.id }}</td>
      <td>{{ patient.name }}</td>
      <td>{{ patient.gender }}</td>
      <td>{{ patient.age }}</td>
      <td>{{ patient.admittedDate }}</td>
      <td>{{ patient.type }}</td>
      <td> <span [ngClass]="{
        'status-confirmed': patient.status === 'confirmed',
        'status-pending': patient.status === 'pending',
        'status-rejected': patient.status === 'rejected'
      }">
        {{ patient.status }}
      </span></td>
      <td>
        <i class="bi bi-pencil"></i>
        <i class="bi bi-trash"></i>
      </td>
    </tr>
  </tbody>
</table>
