<div class="container mt-4">
  <h2 class="mb-4 text-center text-primary">Patient Management</h2>

  <button mat-raised-button color="primary" (click)="openPatientModal()">Add Patient</button>

  <!-- Patient Table -->
  <table class="table table-bordered table-striped mt-4">
    <thead class="table-light">
      <tr>
        <th>id</th>
        <th>Patient Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Admitted Date</th>
        <th>Type</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.id }}</td>
        <td>{{ patient.name }}</td>
        <td>{{ patient.gender }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.admittedDate }}</td>
        <td>{{ patient.type }}</td>
        <td>
          <span
            [ngClass]="{
              'badge custom-badge-success': patient.status === 'confirmed',
              'badge custom-badge-warning': patient.status === 'pending',
              'badge custom-badge-danger': patient.status === 'rejected'
            }"
          >{{ patient.status }}</span>
        </td>
        <td class="hover-expand">
           <i class="bi bi-pencil text-primary me-2"></i> <!--(click)="editPatient(patient) -->
          <i class="bi bi-trash text-danger" (click)="deletePatient(patient.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
