<div class="container-fulid bg-light">
  <div
    class="d-flex flex-column row justify-content-center align-items-center vh-100"
  >
    <div
      class="position-relative col-sm-8 col-md-6 col-lg-4 border border rounded-3 p-5 shadow-sm bg-white"
    >
      <div id="message" class="position-absolute col-sm-8 col-md-6 col-lg-4">
        @if(successMessage){
        <div class="alert alert-success mt-3">
          {{ successMessage }}
        </div>
        } @if(errorMessage){
        <div class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
        }
      </div>
      <h4 class="text-center text-secondary">
        Hospital <sup style="font-size: 20px">Admin</sup>
      </h4>
      <form [formGroup]="loginForm" (ngSubmit)="onLog()">
        <div class="form-group">
          <label for="exampleInputEmail1" class="text-secondary"
            >Email address</label
          >
          <input
            type="email"
            class="form-control position-relative"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            name="email"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                (loginForm.get('email')?.touched ||
                  loginForm.get('email')?.dirty) &&
                loginForm.get('email')?.invalid
            }"
            aria-label="Email address"
          />
        </div>
        @if(loginForm.get("email")?.touched || loginForm.get("email")?.dirty){
        @if(loginForm.get("email")?.errors?.['required']){
        <small class="position-absolute text-danger">Email is required</small>
        } @else if(loginForm.get("email")?.errors?.['pattern']){
        <small class="position-absolute text-danger">Email is invalid</small>
        } }

        <div class="form-group">
          <label for="exampleInputPassword1" class="text-secondary mt-4"
            >Password</label
          >
          <div class="input-group">
            <input
              [type]="passwordVisibilty"
              class="form-control position-relative"
              id="exampleInputPassword1"
              placeholder="Password"
              name="password"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  (loginForm.get('password')?.touched ||
                    loginForm.get('password')?.dirty) &&
                  loginForm.get('password')?.invalid
              }"
              aria-label="Password"
            />
            @if(loginForm.value.password){
            <span
              role="button"
              (click)="showVesibity()"
              class="input-group-text"
              id="togglePassword"
            >
              @if(passwordVisibilty === "password"){
              <i class="fas fa-eye"></i>
              }@else if (passwordVisibilty === "text") {
              <i class="fas fa-eye-slash"></i>
              }
            </span>
            }
          </div>
        </div>
        @if(loginForm.get('password')?.touched ||
        loginForm.get('password')?.dirty){
        @if(loginForm.get('password')?.errors?.['required']){
        <small class="text-danger position-absolute"
          >Password is required</small
        >

        } }
        <div class="d-grid gap-2 mt-3">
          <button
            type="submit"
            class="btn login mt-3 text-white"
            [disabled]="isLoading"
          >
            @if(isLoading){ @if(success){
            <i class="fa-regular fa-circle-check"></i> }@else{
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            } } @else{ Login }
          </button>
        </div>
      </form>
    </div>
    <div class="ol-sm-8 col-md-6 col-lg-4 border rounded mt-3 p-5 shadow-sm">
      <div router class="text-center">
        <p class="d-contain">
          Are you a doctor? <span><a routerLink="/login">Login</a></span>
        </p>
      </div>
    </div>
  </div>
</div>
