#message {
  top: -60px;
  left: 50%;
  width: 90%;
  z-index: 10;
  opacity: 70%;
  transform: translateX(-50%);
}

sup {
  color: #232f66;
}
.login {
  background-color: #232f66;
}
.login:active {
  background-color: #192147;
}
.admin-login {
  color: #212529;
}

.btn {
  font-size: 20px;
}
.d-contain {
  font-size: medium;
  color: #232f66;
}
a {
  font-size: 15px;
  font-weight: bold;
  color: #dea94d;
}

.btn {
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #232f66;
  color: white;
}
