.login{
    background-color: #232f66;
}
.admin-login{
color: #212529;
}

.btn{
    font-size: 20px;
    
}
a {
    font-size: 14px;
    color: #dea94d;
  }

  .btn{
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #232f66;
    color: white;
  }