<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> Blogs</a>
    </div>
    <div class="d-flex me-3">
      <button class="btn btn-success" routerLink="/blog/create">ADD+</button>
    </div>
  </nav>

  <h3>Edit Blog</h3>
  <form>
    <div class="mb-3">
      <label for="txtTitle" class="form-label">Title</label>
      <input
        type="text"
        name="title"
        [(ngModel)]="formdata.title"
        class="form-control"
        id="txtTitle"
      />
    </div>
    <div class="mb-3">
      <label for="txtBody" class="form-label">Body</label>
      <input
        type="text"
        name="body"
        [(ngModel)]="formdata.body"
        class="form-control"
        id="txtBody"
      />
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Img</label>
      <input
        type="file"
        name="img"
        [(ngModel)]="formdata.url"
        class="form-control"
        id="image"
      />
    </div>
    <button type="button" (click)="update()" class="btn btn-primary">
      Update
    </button>
  </form>
</div>
