<div class="container mt-4">
  <div class="row">
    <!-- Search and filter inputs -->
    <div class="col-md-3">
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Search by Doctor Name"
        [(ngModel)]="searchName"
        (input)="filterDoctors()"
      />
    </div>
    <div class="col-md-3">
      <select
        class="form-control mb-3"
        [(ngModel)]="selectedDepartment"
        (change)="filterDoctors()"
      >
        <option value="">All Departments</option>
        <option *ngFor="let department of departments" [value]="department">
          {{ department }}
        </option>
      </select>
    </div>
    <!-- <div class="col-md-3">
      <select
        class="form-control mb-3"
        [(ngModel)]="selectedSpecialist"
        (change)="filterDoctors()"
      >
        <option value="">All Specialists</option>
        <option *ngFor="let specialist of specialists" [value]="specialist">
          {{ specialist }}
        </option>
      </select>
    </div> -->
    <div class="col-md-3">
      <button class="btn btn-secondary mb-3" (click)="clearFilters()">
        Clear Filters
      </button>
    </div>
  </div>

  <!-- Doctor Table -->
  <table class="table table-striped table-light table-bordered border-info">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <!-- <th scope="col">Specialist</th> -->
        <th scope="col">Gender</th>
        <th scope="col">Available Appointments</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of filteredDoctors" class="table-row text-center">
        <td class="table-primary">{{ doctor.name }}</td>
        <td>{{ doctor.department.name }}</td>
        <!-- <td>{{ doctor.specialization }}</td> -->
        <td>{{ doctor.gender }}</td>
        <td class="table-danger">
          <ul class="list-group">
            <li *ngFor="let appointment of doctor.availableDates" class="list-group-item">
              <strong>Date:</strong> {{ appointment.date | date: 'fullDate' }} <br />
              
              <ng-container *ngIf="appointment.fromTime">
                <strong>From:</strong> {{ appointment.fromTime }} <br />
              </ng-container>
              
              <ng-container *ngIf="appointment.toTime">
                <strong>To:</strong> {{ appointment.toTime }} <br />
              </ng-container>
          
              <!-- Optional: If both times are missing, display a message -->
              <ng-container *ngIf="!appointment.fromTime && !appointment.toTime">
                <em>No available times</em>
              </ng-container>
            </li>
          </ul>
        </td>
        <td>
          <button
            class="btn btn-outline-warning btn-sm"
            title="Update Doctor"
            (click)="updateDoctor(doctor._id)"
          >
            <i class="fas fa-edit"></i> Update
          </button>
          <button
            class="btn btn-outline-danger btn-sm"
            title="Delete Doctor"
            (click)="deleteDoctor(doctor._id)"
          >
            <i class="fas fa-trash"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
