<!-- <div class="container">
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: #abc2f5"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Blogs</a>
    </div>
    <div class="d-flex me-3">
      <button
        class="btn btn-success"
        [routerLink]="['form']"
        style="background-color: #233763"
      >
        ADD+
      </button>
    </div>
  </nav>
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">Img</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="tbodyText"> -->

      <!-- Use ng-container to apply *ngIf without interfering with the table rows -->
      <!-- <ng-container *ngIf="allblogs?.length > 0; else noBlogs">
        <tr *ngFor="let blog of allblogs; index as i">
          <td>
            <img
              *ngIf="blog.url; else fallbackImage"
              [src]="blog.url"
              alt="{{ blog.title }}"
              width="50"
              height="50"
            />
            <ng-template #fallbackImage>
              <img
                *ngIf="blog.Image"
                [src]="blog.Image.secure_url"
                alt="{{ blog.title }}"
                width="50"
                height="50"
              />
            </ng-template>
          </td>
          <td>{{ blog.title}}</td>

          <div style="margin: 1rem 0rem 1rem 0rem;">

            <a [routerLink]="['/blog', blog._id]" style="text-decoration: none;">
              <td style="color: blue;">{{ blog.body.substring(0, 20) }}...</td>
            </a>
          </div>
         
          <td>
            <a
              style="font-size: 15px"
              href=""
              class="btn btn-light border border-warning  updatebtn"
              [routerLink]="['/blog/edit', blog._id]"
            >
              <i class="fa-solid fa-pen-to-square" style="font-size: 15px"></i
              >Update
            </a> -->
            <!-- this container show if you want delete or not -->
            <!-- <ng-container
              *ngIf="confirmDeleteId === blog._id; else deleteButton"
            >
              <span>Are you sure?</span>
              <button class="btn btn-success" (click)="confirmDelete(i)">
                Yes
              </button>
              <button class="btn btn-danger" (click)="cancelDelete()">
                No
              </button>
            </ng-container> -->
            <!-- button of delete -->
            <!-- <ng-template #deleteButton>
              <button
                style="font-size: 15px"
                type="button"
                (click)="deleteBlog(blog._id!)"
                class="btn btn-light border border-danger deletebtn ms-4"
              >
                <i class="fa-solid fa-trash"></i>Delete
              </button>
            </ng-template>
          </td>
        </tr>
      </ng-container> -->

      <!-- Fallback when no blogs are available -->
<!--        
      <ng-template #noBlogs>
        <tr>
          <td colspan="5">No blogs available.</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div> -->

<!-- hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh -->

<div class="container">
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: #abc2f5"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Blogs</a>
    </div>
    <div class="d-flex me-3">
      <button
        class="btn btn-success"
        [routerLink]="['form']"
        style="background-color: #233763"
      >
        ADD+
      </button>
    </div>
  </nav>

  <ng-container *ngIf="allblogs?.length > 0; else noBlogs">
    <div  class="row row-cols-1 row-cols-md-2 ms-5 g-2 ">
<div class="col mx-auto col-12 col-lg-3 col-md-4  mt-3 " *ngFor="let blog of paginatedBlogs; index as i">
  <div class="card ">
    <img
    
              *ngIf="blog.url; else fallbackImage"
              [src]="blog.url"
              alt="{{ blog.title }}"
              style="width: 100%; height: 150px;"
            />
            <ng-template #fallbackImage>
              <img
              
                *ngIf="blog.Image"
                [src]="blog.Image.secure_url"
                alt="{{ blog.title }}"
                style="width: 100%; height: 150px;"
              />
            </ng-template>
    <div class="card-body">
      <p class="card-title" style="font-weight: 700;">{{ blog.title}} </p>
      <p class="card-text"  style="font-size: 15px;">
        {{ blog.body.substring(0, 50) }}...
         <a [routerLink]="['/blog', blog._id]" style="text-decoration: none; color: blue;">
          See More
      </a>
    </p>
    <p>
      <a
      style="font-size: 15px"
      href=""
      class="btn btn-light border border-warning  updatebtn"
      [routerLink]="['/blog/edit', blog._id]"
    >
      <i class="fa-solid fa-pen-to-square" style="font-size: 15px"></i
      >Update
    </a>
    <!-- this container show if you want delete or not -->
    <ng-container
      *ngIf="confirmDeleteId === blog._id; else deleteButton"
    >
      <span>Are you sure?</span>
      <button class="btn btn-success" (click)="confirmDelete(i)">
        Yes
      </button>
      <button class="btn btn-danger" (click)="cancelDelete()">
        No
      </button>
    </ng-container>
    <!-- button of delete -->
    <ng-template #deleteButton>
      <button
        style="font-size: 15px"
        type="button"
        (click)="deleteBlog(blog._id!)"
        class="btn btn-light border border-danger deletebtn ms-2"
      >
        <i class="fa-solid fa-trash"></i>Delete
      </button>





    </ng-template>
    </p>
    </div>
  </div>
</div>

</div>




<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center pt-5">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link prev" (click)="changePage(currentPage - 1)">Previous</a>
    </li>
    <li class="page-item">
      <span class="pagNums"> {{currentPage}} </span>of<span class="pagNums"> {{totalPages}}</span>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link next" (click)="changePage(currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>





</ng-container>
<ng-template #noBlogs>
  <div>
    No blogs available.
  </div>
</ng-template>
</div>