

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #abc2f5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Blogs</a>
    </div>
    <div class="d-flex me-3">
      <button class="btn btn-success" routerLink="/blog/create" style="background-color: #233763">
        ADD+
      </button>
    </div>
  </nav>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Img</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="tbodyText">
      <tr *ngFor="let item of allblogs" class="bodyRow">
        <th scope="row">{{ item.id }}</th>
        <td>
          <img src="{{ item.url }}" alt="." width="100" height="100" />
        </td>
        <td>{{ item.title }}</td>
        <td class="itembody">{{ item.body }}</td>
        <td>
          <a style="font-size: 13px" href="" class="btn btn-light border border-warning mb-2 updatebtn"
             [routerLink]="['/blog/edit', item.id]">
            <i class="fa-solid fa-pen-to-square" style="font-size: 14px"></i>Update
          </a>
          <button
            style="font-size: 15px"
            type="button"
            (click)="openDeleteConfirmation(item.id)"
            class="btn btn-light border border-danger deletebtn"
          >
            <i class="fa-solid fa-trash"></i>Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Confirmation Modal -->
  <div class="modal-overlay" *ngIf="isModalVisible">
    <div class="modal-content">
      <h5>Confirm Delete</h5>
      <p>{{ modalMessage }}</p>
      <button (click)="confirmDelete()" class="btn btn-danger">Delete</button>
      <button (click)="cancelDelete()" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</div>

