<div class="container">
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: #abc2f5"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> Blogs</a>
    </div>
    <div class="d-flex me-3">
      <button
        class="btn btn-success"
        [routerLink]="['form']"
        style="background-color: #233763"
      >
        ADD+
      </button>
    </div>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Img</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="tbodyText">
      <!-- Use ng-container to apply *ngIf without interfering with the table rows -->
      <ng-container *ngIf="allblogs.length > 0; else noBlogs">
        <tr *ngFor="let blog of allblogs">
          <td>{{ blog._id }}</td>
          <td>
            <img *ngIf="blog.url; else fallbackImage" [src]="blog.url" alt="{{ blog.title }}" width="50" height="50" />
            <ng-template #fallbackImage>
              <img *ngIf="blog.Image" [src]="blog.Image.secure_url" alt="{{ blog.title }}" width="50" height="50" />
            </ng-template>
                    </td>
          <td>{{ blog.title.substring(0,10) }}...</td>
          <td>{{ blog.body.substring(0,20) }}...</td>
          <td>
            <a [routerLink]="['/blog', blog._id]">Read more</a>
          </td>
        </tr>
      </ng-container>
  
      <!-- Fallback when no blogs are available -->
      <ng-template #noBlogs>
        <tr>
          <td colspan="5">No blogs available.</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
