.tbodyText{
  font-size: 12px;
}

.updatebtn{
  color:#f5ce5b;
}
.updatebtn:hover{
  background-color: #f5ce5b;
  color: white;
 }

 .deletebtn{
  color: #dc3545;
 }

 .deletebtn:hover{
  color: white;
  background-color: #dc3545;
 }
 tbody, td, tfoot, th, thead, tr{
  border-color: inherit;
  border-style: solid;
  /* border-width: 0; */
}

.pagNums{
  color: rgb(0, 89, 206);
  padding: 5px;
margin:5px;
  border: solid 1px rgb(193, 193, 221);
}

.prev, .next {
  cursor: pointer;
}