<h1 mat-dialog-title class="dialog-title">{{ data._id ? 'Edit Patient' : 'Add Patient' }}</h1>

<div mat-dialog-content>
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    
    <!-- Patient Name -->
    <mat-form-field appearance="fill" class="full-width-form-field">
      <mat-label class="form-label">Patient Name</mat-label>
      <input matInput formControlName="name" class="form-input" />
      <div *ngIf="patientForm.get('name')?.invalid && patientForm.get('name')?.touched">
        <div *ngIf="patientForm.get('name')?.errors?.['required']">Name is required.</div>
        <div *ngIf="patientForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</div>
        <div *ngIf="patientForm.get('name')?.errors?.['noNumbers']">Name cannot contain only numbers.</div>
      </div>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="fill" class="full-width-form-field">
      <mat-label class="form-label">Email</mat-label>
      <input matInput formControlName="email" class="form-input" type="email" />
      <div *ngIf="patientForm.get('email')?.invalid && patientForm.get('email')?.touched">
        <div *ngIf="patientForm.get('email')?.errors?.['required']">Email is required.</div>
        <div *ngIf="patientForm.get('email')?.errors?.['email']">Please enter a valid email.</div>
      </div>
    </mat-form-field>

    <!-- Password (Only for new patients) -->
    <mat-form-field *ngIf="!data._id" appearance="fill" class="full-width-form-field">
      <mat-label class="form-label">Password</mat-label>
      <input matInput formControlName="password" class="form-input" type="password" />
      <div *ngIf="patientForm.get('password')?.invalid && patientForm.get('password')?.touched">
        <div *ngIf="patientForm.get('password')?.errors?.['required']">Password is required.</div>
        <div *ngIf="patientForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
      </div>
    </mat-form-field> 

    <!-- Gender -->
    <mat-form-field appearance="fill" class="full-width-form-field">
      <mat-label class="form-label">Gender</mat-label>
      <mat-select formControlName="gender" class="">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="is not selected">Not Selected</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Is Confirmed -->
    <mat-checkbox formControlName="isConfirmed">
      Is Confirmed
    </mat-checkbox>

    <!-- Donations -->
    <div formArrayName="donations">
      <div *ngFor="let donation of donations.controls; let i = index" [formGroupName]="i">
        <mat-form-field appearance="fill" class="full-width-form-field">
          <mat-label class="form-label">Donation Amount</mat-label>
          <input matInput formControlName="amount" type="number" class="form-input" />
          <div *ngIf="donation.get('amount')?.invalid && donation.get('amount')?.touched">
            <div *ngIf="donation.get('amount')?.errors?.['required']">Amount is required.</div>
            <div *ngIf="donation.get('amount')?.errors?.['min']">Amount must be positive</div>
          </div>
          
        </mat-form-field>
        <!-- <mat-form-field appearance="fill" class="full-width-form-field">
          <mat-label class="form-label">Donation Date</mat-label>
          <input matInput formControlName="date" type="date" class="form-input" />
          <div *ngIf="donation.get('date')?.invalid && donation.get('date')?.touched">
            <div *ngIf="donation.get('date')?.errors?.['required']">Date is required.</div>
          </div>
        </mat-form-field> -->
        <button mat-button color="warn" (click)="removeDonation(i)">Remove</button>
      </div>
    </div>
    
    <button mat-button (click)="addDonation()">Add Donation</button>

    <!-- Submit and Cancel Buttons -->
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{ data._id ? 'Update Patient' : 'Add Patient' }}</button>
    </div>
  </form>
</div>
