<div class="container">
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: #abc2f5"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> Blogs</a>
    </div>
    <div class="d-flex me-3">
      <button
        class="btn btn-success"
        routerLink="/blog/create"
        style="background-color: #233763"
      >
        ADD+
      </button>
    </div>
  </nav>

  <h3 style="color: #233763">Create Blog</h3>
  <form #myForm="ngForm" class="bg-light p-3 rounded">
    <div class="mb-3">
      <label for="txtTitle" class="form-label">Title</label>
      <input
        type="text"
        name="title"
        [(ngModel)]="formdata.title"
        required
        minlength="3"
        #titleInput="ngModel"
        [ngClass]="{'is-invalid':(titleInput.touched || titleInput.dirty)  && titleInput.invalid}"
        class="form-control"
        id="txtTitle"
      />
      <div *ngIf="titleInput.touched && titleInput.invalid" class="text-danger">
        <div *ngIf="titleInput.errors?.['required']">Title is required</div>
        <div *ngIf="titleInput.errors?.['minlength']">Title must be at least 3 characters</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="txtBody" class="form-label">Body</label>
      <textarea
      style="height: 100px;"
        type="text"
        name="body"
        [(ngModel)]="formdata.body"
        required
        minlength="10"
        #bodyInput="ngModel"
        [ngClass]="{'is-invalid': (bodyInput.touched || bodyInput.dirty) && bodyInput.invalid}"
        class="form-control"
        id="txtBody"
      ></textarea>
      <div *ngIf="bodyInput.touched && bodyInput.invalid" class="text-danger">
        <div *ngIf="bodyInput.errors?.['required']">Body is required</div>
        <div *ngIf="bodyInput.errors?.['minlength']">Body must be at least 10 characters</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input
        type="file"
        name="image"
        (change)="onFileSelected($event)"
        class="form-control"
        id="image"
        required
      />
      <div *ngIf="!selectedFile" class="text-danger">
        Image is required
      </div>
    </div>
    <button type="button" (click)="create()" class="btn btn-primary" [disabled]="myForm.invalid || !selectedFile">
      Create
    </button>
  </form>
</div>
