<div class="container">
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: #abc2f5"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> Blogs</a>
    </div>
    <div class="d-flex me-3">
      <button
        class="btn btn-success"
        routerLink="/blog/create"
        style="background-color: #233763"
      >
        ADD+
      </button>
    </div>
  </nav>

  <h3 style="color: #233763">Create Blog</h3>
  <form [formGroup]="blogData" class="bg-light p-3 rounded">
    <div class="mb-3 position-relative">
      <label for="txtTitle" class="form-label">Title</label>
      <input
        type="text"
        name="title"
        required
        formControlName="title"
        [ngClass]="{
          'is-invalid':
            (blogData.get('title')?.touched || blogData.get('title')?.dirty) &&
            blogData.get('title')?.invalid
        }"
        class="form-control"
        id="txtTitle"
      />
      @if(blogData.get("title")?.touched || blogData.get('title')?.dirty &&
      blogData.get('title')?.invalid){
      @if(blogData.get('title')?.errors?.['required']){
      <small class="text-danger position-absolute"> Title is required </small>
      } }
    </div>

    <div class="mb-3 position-relative">
      <label for="txtBody" class="form-label">Body</label>
      <textarea
        style="height: 100px"
        type="text"
        name="body"
        formControlName="body"
        [ngClass]="{
          'is-invalid':
            (blogData.get('body')?.touched || blogData.get('body')?.dirty) &&
            blogData.get('body')?.invalid
        }"
        class="form-control"
        id="txtBody"
      ></textarea>
      @if( blogData.get('body')?.touched || (blogData.get('body')?.dirty &&
      blogData.get('body')?.invalid)) {
      @if(blogData.get('body')?.errors?.['required']){
      <small class="text-danger position-absolute">Body is required</small>
      } }
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input
        type="file"
        name="image"
        (change)="onFileSelected($event)"
        class="form-control"
        id="image"
        required
      />
      @if(imagePrview){

      <img
        [src]="imagePrview"
        alt="image"
        style="width: 100px; height: 100px"
      />

      } @if(blogData.get('image')?.touched || blogData.get('image')?.dirty &&
      blogData.get('image')?.invalid){
      @if(blogData.get('image')?.errors?.['required']){
      <small class="text-danger">Image is required</small>

      } }
    </div>
    <button type="button" (click)="create()" class="btn btn-primary">
      Create
    </button>
  </form>
</div>
