/* Add your custom styles here */
.table {
    margin-top: 20px;
  }
  
  .table thead th {
    background-color: #f8f9fa;
    color: #495057;
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .btn {
    font-size: 14px;
  }
  
  .btn-warning {
    background-color: #ffc107b6;
  }
  
  .btn-danger {
    background-color: #c63543cc;
  }
  
  .btn-secondary {
    background-color: #6c757d;
  }
  
  .form-control,
  .form-select {
    border-radius: 0.25rem;
  }
  
/* comfirmation message  */ 
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
  }
  
  .modal.show {
    display: block;
  }
  
  .modal-dialog {
    margin: 15px auto;
    max-width: 500px;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  .modal-header {
    border-bottom: 1px solid #e9ecef;
  }
  
  .modal-title {
    margin: 0;
    line-height: 1.5;
  }
  
  .close {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    border: none;
    background: none;
  }
  
  .modal-footer {
    border-top: 1px solid #e9ecef;
  }


  .table-style { 
    height: 500px;
    overflow: scroll;
    margin: 0px;
  }